In [7]:
IALAB_MEMBER = True
IALAB_USER = "mrearle"

In [8]:
import sys

if IALAB_MEMBER:
    metadata_parser_path = f'/home/{IALAB_USER}/repos/360-visualization/metadata_parser'
else:
    metadata_parser_path = '/360-visualization/metadata_parser''

if metadata_parser_path not in sys.path:
    sys.path.append(metadata_parser_path)

In [9]:
from parse_house_segmentations import HouseSegmentationFile

In [10]:
scanId = '17DRP5sb8fy'
viewpointId = '00ebbf3782c64d74aaf7dd39cd561175'

In [11]:
if IALAB_MEMBER:
  base_path = '/home/{IALAB_USER}/datasets/Matterport3DSimulator/houses/v1/scans'
else:
  base_path = '/Matterport3DSimulator/houses/v1/scans' # Location of Matterport3D Simulator
HouseSegmentationFile.base_path = base_path

In [12]:
metadata = HouseSegmentationFile.load_mapping(scanId)

In [13]:
objects = metadata.viewpoint_objects(viewpointId)
region = metadata.get_region(viewpointId)

In [14]:
metadata.header

{'name': '-',
 'label': '-',
 'num_images': 864.0,
 'num_panoramas': 48.0,
 'num_vertices': 57.0,
 'num_surfaces': 10.0,
 'num_segments': 27703.0,
 'num_objects': 187.0,
 'num_regions': 1659.0,
 'num_portals': 10.0,
 'num_levels': 0.0,
 'xlo': 0.0,
 'ylo': -11.5795,
 'zlo': -2.92465,
 'xhi': -0.113902,
 'yhi': 5.99388,
 'zhi': 5.9349}

In [16]:
metadata.panoramas.head()

,name,panorama_index,region_index,px,py,pz
0,00ebbf3782c64d74aaf7dd39cd561175,0,3,3.520640,-0.501891,1.542820
1,08115b08da534f1aafff2fa81fc73512,1,5,0.482987,3.052250,0.650183
2,08c774f20c984008882da2b8547850eb,2,5,-1.665710,1.400770,1.497670
3,0e92a69a50414253a23043758f111cec,3,9,-2.220220,-0.480640,1.551390
4,0f37bd0737e349de9d536263a4bdd60d,4,7,-6.405350,1.378800,1.494280

In [18]:
metadata.surfaces.head()

,surface_index,region_index,label,px,py,pz,nx,ny,nz,xlo,ylo,zlo,xhi,yhi,zhi
0,0.0,0.0,F,-9.26133,2.135810,-0.008422,0.0,0.0,1.0,-10.90350,0.587867,-0.008422,-6.74019,4.795210,-0.008422
1,1.0,1.0,F,-6.47846,-1.062270,0.008621,0.0,0.0,1.0,-8.13822,-2.747810,0.008621,-4.37099,0.522308,0.008621
2,2.0,2.0,F,-3.85113,-0.524921,0.011746,0.0,0.0,1.0,-4.34634,-1.557540,0.011746,-3.35606,0.507769,0.011746
3,3.0,3.0,F,3.55226,-0.967983,-0.006380,0.0,0.0,1.0,2.46613,-1.993660,-0.006380,4.63827,0.057805,-0.006380
4,4.0,4.0,F,2.53459,3.580320,-0.000640,0.0,0.0,1.0,1.02212,0.445752,-0.000640,4.63471,5.295840,-0.000640

In [21]:
metadata.images.query('panorama_index == "0"').head()

,image_index,panorama_index,name,camera_index,yaw_index,e00,e01,e02,e03,e10,...,i11,i12,i20,i21,i22,width,height,px,py,pz
0,0,0,00ebbf3782c64d74aaf7dd39cd561175,0,0,-0.73677,-0.67594,0.0165613,2.2291,-0.438446,...,1075.66,515.013,0,0,1,1280,1024,3.52064,-0.501891,1.54282
1,1,0,00ebbf3782c64d74aaf7dd39cd561175,0,1,-0.953748,0.300171,0.0161444,3.47103,0.211332,...,1075.66,515.013,0,0,1,1280,1024,3.50647,-0.505191,1.54289
2,2,0,00ebbf3782c64d74aaf7dd39cd561175,0,2,-0.216901,0.976123,0.0117905,1.22297,0.653201,...,1075.66,515.013,0,0,1,1280,1024,3.49653,-0.494569,1.54292
3,3,0,00ebbf3782c64d74aaf7dd39cd561175,0,3,0.736908,0.675948,0.00785278,-2.26696,0.445283,...,1075.66,515.013,0,0,1,1280,1024,3.50076,-0.480646,1.54288
4,4,0,00ebbf3782c64d74aaf7dd39cd561175,0,4,0.953849,-0.300173,0.00826966,-3.50876,-0.2045,...,1075.66,515.013,0,0,1,1280,1024,3.51493,-0.477347,1.54281